*

# server
# (e.g. optimizations, see: https://github.com/YouHaveTrouble/minecraft-optimization/blob/1.21/README.md)
!config/paper-world-defaults.yml
!server.properties
!bukkit.yml
!purpur.yml
!spigot.yml

# datapacks
!world/datapacks/*.zip

# plugins
!config/AdvancedBackups.properties
!plugins/BlueMap/core.conf
!plugins/DiscordSRV/config.yml
!plugins/*.jar

# repository
!.gitignore
!README.md

!run.sh